.fly {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 50px;
  animation: fly1 5s linear infinite;
}

.cat_fly {
  width: 50px;
  height: 50px;
  background-image: url("../../assets/images/cats/fly_cat.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

@keyframes fly1 {
  0% {
    left: -50px;
  }
  100% {
    left: calc(100vw + 50px);
  }
}
